<header>
    <nav class="z-n1 navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand text-warning" routerLink="/">
                {{userProfile?.name}}
                <img [src]="userProfile?.avatarUrl" alt="Avatar" class="rounded-circle" width="35">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Mở menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/about" routerLinkActive="active">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/contact" routerLinkActive="active">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>