<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card shadow" style="max-width: 370px; width: 100%;height: 400px;">      <div class="card-body p-4">
        <h3 class="card-title text-center mb-4 mt-3">Đăng nhập</h3>
        <form>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" placeholder="Nhập tài khoản của bạn" aria-describedby="basic-addon1" required>
            <label for="username">Tài khoản</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu của bạn" required>
            <label for="password">Mật khẩu</label>
          </div>
          <div class="d-grid mb-3">
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
          </div>
          <div class="text-center">
            <a href="/register" class="text-decoration-none">Đăng ký tài khoản</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  