<div class="container">
  <app-create-ticket (ticketCreated)="onTicketCreated()"></app-create-ticket>

  <div class="mt-4">
    <table class="table table-striped table-hover table-bordered text-center">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Tên</th>
          <th>Mô tả</th>
          <th>Ảnh mô tả</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of displayedTickets">
          <td>{{ ticket.id }}</td>
          <td>{{ ticket.name }}</td>
          <td>{{ticket.description}}</td>
          <td>
            <img [src]="ticket.fileDescription" class="rounded mx-auto d-block" width="100" height="70">
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center mt-3">
      <div>
        <span class="me-2">Total {{ tickets.length }} items</span>
        <nz-select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
          <nz-option [nzValue]="5" nzLabel="5 / page"></nz-option>
          <nz-option [nzValue]="10" nzLabel="10 / page"></nz-option>
          <nz-option [nzValue]="20" nzLabel="20 / page"></nz-option>
        </nz-select>
      </div>

      <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="tickets.length" [nzPageSize]="pageSize"
        (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
    </div>
  </div>
</div>