<nz-layout>
    <nz-header class="bg-primary text-white py-3">
        <h3 class="text-center">Admin Dashboard</h3>
    </nz-header>

    <nz-content>
        <div class="container-fluid px-4 h-100">
            <div class="row h-100">
                <div class="col-md-12 h-100">
                    <nz-tabset [nzTabPosition]="'left'" [nzType]="'line'" [nzSize]="'large'" class="h-100"
                        [nzAnimated]="false">

                        <nz-tab nzTitle="Quản lý Ticket Assagin">
                            <app-ticket-assignment></app-ticket-assignment>
                        </nz-tab>

                        <nz-tab nzTitle="Quản lý Ticket">
                            <app-ticket-list />
                        </nz-tab>
                        <nz-tab nzTitle="Thông tin cá nhân">
                            <app-profile></app-profile>
                        </nz-tab>
                        <nz-tab nzTitle="Quản lý User">
                            <app-user-list />
                        </nz-tab>
                    </nz-tabset>
                </div>
            </div>
        </div>
    </nz-content>
</nz-layout>