<nz-layout>
    <!-- HEADER -->
    <nz-header class="bg-primary text-white py-3">
        <h3 class="text-center">Admin Dashboard</h3>
    </nz-header>

    <nz-content>
        <div class="container-fluid px-4 h-100">
            <div class="row h-100">
                <!-- Sidebar Tabs -->
                <div class="col-md-12 h-100">
                    <nz-tabset 
                        [nzTabPosition]="'left'" 
                        [nzType]="'line'" 
                        [nzSize]="'large'" 
                        class="h-100"
                    >
                        <nz-tab nzTitle="Thông tin cá nhân">
                            <app-profile></app-profile>
                        </nz-tab>
                        <nz-tab nzTitle="Tạo Ticket">
                            <h4>Tạo Ticket</h4>
                            <app-create-ticket></app-create-ticket>
                        </nz-tab>
                        <nz-tab nzTitle="Quản lý User">
                            <h4>Quản lý User</h4>
                            <p>Đây là nội dung của tab Quản lý User.</p>
                        </nz-tab>
                    </nz-tabset>
                </div>
            </div>
        </div>
    </nz-content>
</nz-layout>
